name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Install UV
        uses: astral-sh/setup-uv@v7.3.0
      - name: Sync dependencies
        run: uv sync --dev
      - name: Run tests with coverage report 
        run: |
          uv run pytest \
            --cov=probability_simulator \
            --cov-report=term-missing \
            --cov-report=xml \
            --cov-report=html

      - name: Upload HTML coverage artifact
        uses: actions/upload-artifact@v4
        with:
          name: html-coverage-report
          path: htmlcov/
